.profileContentProper{
	background-color: var(--brighter-bg-color);
	border-radius: 20px;
	border-width: 100%;
}

.profileContentButtons{
	display: flex;
	gap: 5px;
}

.profileContentButtons button{
	padding: 5px;
	background-color: var(--background-color);
	border-color: var(--background-color);
	color: var(--text-color);
	border-radius: 50px;
	border-spacing: 10px;
	border-width: 3px;
}

.profileContentButtons button:hover{
	transition: background-color 250ms;
	background: var(--primary-color);
}

.profileContentButtons button.active {
	transition: background-color 250ms;
	background-color: var(--primary-color);
}

.postFilter{
	background-color: var(--secondary-color);
	border-radius: 20px;
	padding: 5px;
	margin-top: 10px;
	margin-bottom: 10px;
	height: 2rem;
}

.postFilter button:hover{
	transition: background-color 250ms;
	background: var(--primary-color);
	border-radius: 20px;
}


.project-list{
    max-height: 300px;
    overflow-y: scroll;
}

.project-list::-webkit-scrollbar {
    width: 8px;
  }
  
  .project-list::-webkit-scrollbar-thumb {
    background-color: #5c636a; /* Thumb color */
    border-radius: 4px;
  }
  
  .project-list::-webkit-scrollbar-thumb:hover {
    background-color: #4b5157; /* Thumb hover color */
  }
  
  .project-list::-webkit-scrollbar-track {
    background-color: #3c434a; /* Track color */
  }