.post-commenter-profile {
  display: flex;
  font-size: 15px;
  align-items: center;
  color: #f1dfb6;
}

#commenter-image-container {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  float: left;
  margin-right: 5px;
}

#commenter-comment-container {
  color: #ffffff;
  margin-left: 36px;
  font-size: small;
}
