.image-slider {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
  background-color: #3e3e3e;

  margin-left: 9px;
  margin-right: 9px;
  margin-bottom: 5px;
  border-radius: 10px;
}

.previous-button,
.next-button {
  color: #f1dfb6;
  background-color: #3e3e3e;
  font-weight: bold;
  font-size: 25px;
  border-radius: 20%;
  border: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 40px;
  width: 40px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.3);
  transition: transform 0.3s ease, background-color 0.3s ease;
}

.previous-button:hover,
.next-button:hover {
  background-color: #5e5e5e;
  transform: scale(1.1);
}

.previous-button:active,
.next-button:active {
  transform: scale(0.95);
}

.image {
  height: 290px;
  width: 450px;
  object-fit: cover;
  margin-left: 8px;
  margin-right: 8px;
  margin-bottom: 8px;
}
