.post-actions-buttons {
  margin-right: 10px;
  color: #f1dfb6;
}

.post-upvote-button,
.post-downvote-button,
.post-comment-button,
.post-share-button {
  background: #373d3b;
  border-radius: 7px;
  font-size: 1rem;
  color: #f1dfb6;
  padding: 0.3rem 0.6rem;
  border-radius: 15px;
  gap: 5px;
  margin-top: 10px;
  margin-left: 8px;
  margin-bottom: 8px;
}

.post-add-comment {
  background-color: #373d3b;
  height: 30px;
  width: 530px;
  border-radius: 15px;
  padding-left: 12px;
  color: #697973;
  margin-left: 8px;
  margin-right: 8px;
}
