@import url(https://db.onlinewebfonts.com/c/be842a48e70a93b8dbb48f966ce29100?family=Room+Handmade);
@import url("https://fonts.googleapis.com/css2?family=Playwrite+US+Modern:wght@100..400&display=swap");
@font-face {
  font-family: "Room Handmade";
  src: url("https://db.onlinewebfonts.com/t/be842a48e70a93b8dbb48f966ce29100.eot");
  src:
    url("https://db.onlinewebfonts.com/t/be842a48e70a93b8dbb48f966ce29100.eot?#iefix")
      format("embedded-opentype"),
    url("https://db.onlinewebfonts.com/t/be842a48e70a93b8dbb48f966ce29100.woff2")
      format("woff2"),
    url("https://db.onlinewebfonts.com/t/be842a48e70a93b8dbb48f966ce29100.woff")
      format("woff"),
    url("https://db.onlinewebfonts.com/t/be842a48e70a93b8dbb48f966ce29100.ttf")
      format("truetype"),
    url("https://db.onlinewebfonts.com/t/be842a48e70a93b8dbb48f966ce29100.svg#Room Handmade")
      format("svg");
}

.logo {
  align-items: center;
  font-family: "Room Handmade";
}

.maintitle-landing {
  margin: 0;
  font-size: 125px;
  font-family: "Room Handmade";
  text-align: center;
}

.tagline-landing {
  margin: 0;
  font-family: "Playwrite US Modern Variable", serif;
  text-align: center;
  font-size: 21.5px;
  color: #f1dfb6;
  text-align: center;
}

.group-landing {
  margin-top: 5px;
}

.table1 {
  margin-top: 75px;
  display: flex;
  justify-content: center;
}

.group-landing .button {
  border: 2.5px solid #515d59;
  border-radius: 25px;
  font-family: "garet-book";
  background-color: #373d3b;
  cursor: pointer;
  color: #fdf3dd;
  padding-top: 8.5px;
  padding-bottom: 8.5px;
  padding-left: 30px;
  padding-right: 30px;
  font-size: 16px;
}

.button:hover {
  background-color: #515d59;
}

.spaceBetweenCells td {
  padding: 0 15px;
}

.body-landing {
  font-family: Arial, sans-serif;
  color: var(--text-color);
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.main-landing {
  display: flex;
  gap: 20px;
  flex: 1;
  padding: 20px;
  max-width: 1200px;
  margin: auto;
  align-items: center;
  justify-content: center;
}
