@import url(https://db.onlinewebfonts.com/c/be842a48e70a93b8dbb48f966ce29100?family=Room+Handmade);
@import url('https://fonts.googleapis.com/css2?family=Playwrite+US+Modern:wght@100..400&display=swap');
@font-face {
    font-family: "Room Handmade";
    src: url("https://db.onlinewebfonts.com/t/be842a48e70a93b8dbb48f966ce29100.eot");
    src: url("https://db.onlinewebfonts.com/t/be842a48e70a93b8dbb48f966ce29100.eot?#iefix")format("embedded-opentype"),
    url("https://db.onlinewebfonts.com/t/be842a48e70a93b8dbb48f966ce29100.woff2")format("woff2"),
    url("https://db.onlinewebfonts.com/t/be842a48e70a93b8dbb48f966ce29100.woff")format("woff"),
    url("https://db.onlinewebfonts.com/t/be842a48e70a93b8dbb48f966ce29100.ttf")format("truetype"),
    url("https://db.onlinewebfonts.com/t/be842a48e70a93b8dbb48f966ce29100.svg#Room Handmade")format("svg");
}

.logo {
    align-items: center;
    font-family: "Room Handmade";
}

.maintitle {
    margin: 0;
    font-size: 60px;
    font-family: "Room Handmade";
}   

.tagline {
    margin: 0;
    font-family: "Playwrite US Modern Variable", serif;
    text-align: center;
    font-size: 11.5px;
    color: #f1dfb6;
}

.group {
    margin-top: 75px;
}

.table1 {
    margin-top: 75px;
    display: flex;
    justify-content: center;
}

.button {
    border: 2.5px solid #697973;
    border-radius: 25px;
    background-color: #697973;
    cursor: pointer;
    color: #fdf3dd;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 100px;
    padding-right: 100px;
    font-size: 16px;
}

.button:hover {
    background-color: #f1dfb6;
    color: #697973;
    border: 2.5px solid #697973;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
  }

.input {
    background-color: #f1dfb6;
    color: #697973;
    border: 3.15px solid #b2a891;
    border-radius: 25px;
    padding: 5px;
}

.log {
    color: #697973;
    font-size: 20px;
}

.main2 {
    display: flex;
    gap: 20px;
    flex: 1;
    padding: 20px;
    max-width: 1200px;
    margin: auto;
    align-items: center;
    flex-direction: column; 
}

.outerpad {
    padding-top: 145px;
    padding-bottom: 145px;
    padding-left: 12.5px;
    padding-right: 12.5px;
    background-color: #b2a891;
    block-size: 10px;
    display: flex;
    border-radius: 25px;
    justify-content: center;
    align-items: center;
}

.innerpad {
    padding-top: 135px;
    padding-bottom: 135px;
    padding-left: 60px;
    padding-right: 60px;
    background-color: #f1dfb6;
    block-size: 10px;
    display: flex;
    border-radius: 25px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.links {
    font-size: 10px;
    color:  #697973;
}