.right-sidebar {
  position: sticky;
  top: 5.3rem;
  background: var(--primary-color);
  border-radius: 10px;
  font-size: 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 1.5rem 2rem;
  width: 100%;
}

.right-sidebar button {
  color: var(--sub-text-color);
  text-align: left;
  font-size: 20px;
  background: var(--tertiary-color);
  padding: 0.5rem;
  border: none;
  padding-bottom: 3rem;
  align-items: flex-start;
  border-radius: 20px;
}

.right-sidebar button:hover {
  transition: background-color 250ms;
  background: var(--background-color);
}
