:root {
  --primary-color: #515d59;
  --secondary-color: #697973;
  --background-color: #373d3b;
  --tertiary-color: #697973;
  --text-color: #ffffff;
  --sub-text-color: #f1dfb6;
  --in-progress-color: #ef601e;
  --warning-color: #ffc107;
}

header {
  font-family: "garet-book", sans-serif;
  background-color: var(--primary-color);
  color: white;
  padding: 10px 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: sticky;
  top: 0;
  z-index: 1000;
}

body {
  margin: 0;
  font-family: "garet-book", sans-serif;
  background-color: var(--background-color);
  color: var(--text-color);
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
