:root {
  --primary-color: #515d59;
  --secondary-color: #6c7d77;
  --background-color: #373d3b;
  --brighter-bg-color: #434a46;
  --tertiary-color: #6c7d77;
  --field-border-color: #d2dee2;
  --text-color: #ffffff;
  --darker-text-color: #d4d4d4;
  --sub-text-color: #f1dfb6;
  --darker-sub-text-color: #c3b594;
  --in-progress-color: #ef601e;
  --started-color: #24a3bd;
  --finished-color: #17a021;
  --deployed-color: #ded01f;
  --warning-color: #ffc107;
}

header {
  font-family: "garet-book", sans-serif;
  background-color: var(--primary-color);
  color: white;
  padding: 10px 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: sticky;
  top: 0;
  z-index: 1000;
}

body {
  margin: 0;
  background-image: url("./assets/images/bg.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  font-family: "garet-book", sans-serif;
  color: var(--text-color);
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

@media (max-width: 1100px) {
  .left-sidebar {
    display: none;
  }

  .left-sidebar-toggle {
    display: block;
  }
}

@media (max-width: 950px) {
  .about {
    display: none;
  }
}

@media (max-width: 850px) {
  .right-sidebar {
    display: none;
  }

  .account-panel .account-options,
  .right-sidebar-buttons {
    gap: 15px;
  }
}

@media (max-width: 700px) {
  .search-bar button {
    display: none;
  }
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  opacity: 0;
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--primary-color);
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: var(--background-color);
}
